.container {
  height: 100%;
  width: 60%;
  margin: auto;
}

.section {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  background-color: lightsalmon;
}

.progress-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100px;
  margin: auto;
}

.progress-loader {
  margin: auto;
}
