.container {
  height: 100%;
  width: 60%;
  margin: auto;
}

.section {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: lightsalmon;
}

.progress_container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100px;
  margin: auto;
}

.progress_loader {
  margin: auto;
}
