.container {
  height: 1vh;
  width: auto;
  margin: 0px 200px 0px 200px;
}

.section {
  margin: 20 20 20 20;
  padding: 20px;
  background-color: lightsalmon;
}

.progress-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100px;
  margin: auto;
}

.progress-loader {
  margin: auto;
}
