.close_button {
  align-self: flex-start;
  left: 0px;
  margin: 5px;
}

.modal_container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background-color: rgba(black, black, black, 0.6);
}

.settings_container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  padding: 10px 100px 50px 100px;
}
